:root{
	--imgPath: ../images/;

	--white: #FFFFFF;
	--black: #000000;
	--med-grey: #666666;
	--light-grey: #cccccc;

	/************************  BODY  ************************/
	--body-background: url(var(--imgPath)background.jpg) #000 no-repeat center center/cover;

	/************************  TYPE COLORS  ************************/
	--copy-color: var(--white);
	--link-color: var(--white);

	/************************  MARQUEE  ************************/
	--marquee-background: var(--black);
	--dot-color: var(--med-grey);
	--dot-highlight: var(--light-grey);

	/************************  SLIDER  ************************/
	--slider-background: var(--black);
	--arrow-color: var(--white);

}