:root{
	/************************** HEADER **********************************/
	--header-padding: 38px;

	/*************************  MARQUEE *********************************/
	--marquee-height: 350px;

	/************************** FOOTER **********************************/
	--footer-padding: 50px;
}