:root{
	/************************** HEADER **********************************/
	--header-padding: 38px;

	/*************************  MARQUEE *********************************/
	--marquee-height: 500px;

	--dots-margin-top: 35px;

	--dot-size: 12px;
	--dot-spacing: 10px;

	/*************************  SLIDE HEIGHT *********************************/
	--slider-height: 200px;
	--slider-margin-top: 20px;
	--arrow-height: 30px;

	--arrow-top: calc( var(--slider-height)/2-var(--arrow-height)/2 -2  );

	/************************** FOOTER **********************************/
	--footer-padding: 50px;
}