.slider{
	clear: both;
	position:relative;
	margin-top: var(--slider-margin-top);
	height: var(--slider-height);

	.page{
		position:absolute;
		top: 0;
		left: 0%;
		height: var(--slider-height);
		width: 100%;

		.item{
			height: var(--slider-height);

			.content{
				height: var(--slider-height);
				background: var(--slider-background);
				text-align: center;
				line-height: var(--slider-height);
			}
		}
	}

	&.left .slidein-enter{
		left: 100%;
	}

	&.left .slidein-enter.slidein-enter-active {
		left: 0%;

		transition: left .5s ease-in;
	}

	&.left .slidein-leave{
		left: 0%;
	}

	&.left .slidein-leave.slidein-leave-active {
		left: -100%;

		transition: left .5s ease-in;
	}

	&.right .slidein-enter{
		left: -100%;
	}

	&.right .slidein-enter.slidein-enter-active {
		left: 0%;

		transition: left .5s ease-in;
	}

	&.right .slidein-leave{
		left: 0%;
	}

	&.right .slidein-leave.slidein-leave-active {
		left: 100%;

		transition: left .5s ease-in;
	}

	.arrow {
		position: absolute;
		top: var(--arrow-top);
		font-size: var(--arrow-height);
		color: var(--arrow-color);

		&.next{
			right: 0;
		}
		&.previous{
			left: 0;
		}
	}
}